*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    background-color: #d9dff7;
}
.header{
    background-color: #293b95;
    text-align: center;
    padding: 3px;
    color: white;
}
.navbar ul{
    list-style-type: none;
    background-color: #293b95;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center; 
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover{
    background-color: #16267A;
}

.navbar li{
    float: left;
}

.merHelp{
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    margin-top: 0;
    object-fit: cover;
}

.merQuote{
    margin: auto;
    text-align: center;
    font-size: 20px;
}



aside{
    width: 20%;
    float: left;
    padding: 10px;
    margin: 0;
    margin-bottom: 0;
}

section{
    width: 40%;
    float: left;
    padding: 10px;
}

article{
    width: 40%;
    float: left;
    padding: 10px;
}

.yap{
    padding-left: 10px;
}

.noMer{
    float: right;
    padding-top: 0px;
    text-align: center;
    position: static;
    top: 400px;
}

footer{
    display: block;
    clear: both;
    background-color:#293b95;
    text-align: center;
    padding: 80px;
    color: white;   
}



.feedback-form {
  padding: 20px 30px;
}

.feedback-form h2 {
  margin-bottom: 15px;
}

.feedback-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  max-width: 512px;
  min-width: 512px;
  max-height: 330px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.feedback-form button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #293b95;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.feedback-form button:hover {
  background: #16267A;
}